.discoveryPanel {
    @apply flex justify-center items-center flex-col w-full h-1/2 
          sm:flex-row sm:w-full sm:h-2/6 
          lg:flex-col lg:h-full lg:w-4/12 gap-3;
  }
  
  .discovery {
    @apply relative w-full h-1/2 bg-slate-300 overflow-hidden rounded-xl
          sm:h-full sm:w-1/2 
          lg:h-1/2 lg:w-full;
  }
  
  .discoveryContent{
    --max-w-custom : 70%;
    @apply absolute top-1/2 -translate-y-1/2 p-8 lg:mt-4 max-w-custom;
  }
  
  .discoveryTitle {
    @apply text-xl drop-shadow-xl font-black mb-2 
          lg:text-4xl;
  }
  
  .discoveryDescription {
    @apply leading-tight drop-shadow-2xl h-8 mb-2 overflow-y-scroll text-xs font-bold 
    md:h-14 lg:text-lg lg:leading-relaxed;
    overflow: overlay;
  }
  .image {
    @apply object-cover object-right w-full h-full opacity-90;
  }
  
/* Panels image & button Styles*/

.image {
  @apply object-cover object-right w-full h-full opacity-90;
}

.redirectBtn {
  @apply p-2 text-xs font-extrabold border-2
    border-black rounded-md bg-black text-white
    brightness-75 hover:brightness-100 lg:text-base;
}