.slidePanel {
    @apply flex justify-center items-center w-full h-1/2
          relative bg-slate-300  rounded-xl overflow-hidden
          sm:w-full sm:h-4/6 
          lg:w-8/12 lg:h-full;
  }
  
  .slide {
    @apply h-full w-full;
  }
  
  .slideContent {
    @apply absolute top-1/2 -translate-y-1/2 px-8 lg:mt-4 max-w-[60%];
  }
  
  .slideTitle {
    @apply text-xl drop-shadow-xl font-black mb-2
          sm:text-2xl 
          md:text-3xl 
          lg:text-5xl lg:mb-4;
  }
  
  .slideDescription {
    @apply leading-tight drop-shadow-2xl text-xs font-bold h-14
          md:h-20 mb-4 md:text-base
          *:lg:leading-relaxed;
    overflow: overlay;
  }
  
/* Panels image & button Styles*/

.image {
  @apply object-cover object-right w-full h-full opacity-90;
}

.redirectBtn {
  @apply p-2 text-xs font-extrabold border-2
    border-black rounded-md bg-black text-white
    brightness-75 hover:brightness-100 lg:text-base;
}