.productShowcase {
  @apply mb-8;
}
.header {
  @apply flex items-center justify-between mb-3 px-4 sm:px-8 lg:px-20 ;
}
.products {
  @apply flex gap-4 items-center overflow-x-scroll scroll-smooth p-3 mx-auto 
        md:overflow-x-hidden md:m-auto md:shadow-sm md:w-[95%] m-auto;
        /* grid-template-columns: repeat(auto-fill, 15%); */
}

.sectionScrollBtn {
  @apply flex justify-center items-center border-2 border-black p-2 rounded-full w-8 h-8
  lg:w-10 lg:h-10;
}
.headerTitle {
  @apply text-lg font-bold tracking-tight relative w-32 lg:w-56 text-slate-400
  before:content-[""] before:absolute before:inset-y-0 before:left-0 before:w-1/3 before:h-[2px]
   before:bg-slate-400 before:rounded-md before:top-1/2 
   before:transform before:-translate-y-1/2 before:-translate-x-[calc(100%+0.25rem)]
   lg:text-3xl lg:before:h-[3px];
}


.moreBtn {
  @apply text-xl  tracking-tight relative lg:text-2xl
  text-opacity-50 text-gray-600 font-semibold 
  before:content-[""] before:absolute before:inset-y-0 before:left-0  before:h-[1px]
   before:bg-slate-300 before:rounded-md before:top-1/2 
   before:transform before:-translate-y-1/2 before:-translate-x-[calc(100%+0.25rem)]
    lg:before:h-[3px]
  after:content-[""] after:absolute after:inset-y-0 after:right-0  after:h-[1px]
   after:bg-slate-300 after:rounded-md after:top-1/2 
   after:transform after:-translate-y-1/2 after:translate-x-[calc(100%+0.25rem)]
   lg:after:h-[3px];
}
