/* categories Section Styles */
.categories {
  @apply col-span-3 border rounded-lg h-fit p-2 bg-slate-300/95;
}
.parentCategory {
  @apply text-xs font-bold ml-3 border-b border-red-950;
}
.category {
  @apply flex items-center hover:underline font-bold ml-3 border-b last:border-none text-sm
      sm:mx-2 
      lg:mx-4 lg:p-1;
}

.link {
  @apply flex items-center hover:underline font-bold
       sm:mx-2 
       md:justify-start 
       lg:mx-4;
}
.linkWrapper {
  @apply relative p-3 border-b last:border-none md:p-0 md:border-none;
}
