.container {
  --box-shadow-custom: -1px 20px 20px -16px rgba(0, 0, 0, 0.24);
  --height-custom: calc(100vh - 5rem);

  @apply flex justify-center items-center flex-col w-full p-2 rounded-bl-lg 
        rounded-br-lg h-custom shadow-custom gap-3 mb-12
        lg:flex-row lg:p-4;
}
/* ------------- slidebar section stylesheet  -------------*/
.slidePanel {
  @apply flex justify-center items-center w-full h-1/2
        relative bg-slate-300  rounded-xl overflow-hidden
        sm:w-full sm:h-4/6 
        lg:w-8/12 lg:h-full;
}

.slide {
  @apply h-full w-full;
}

.slideContent {
  @apply absolute top-1/2 -translate-y-1/2 px-8 lg:mt-4 max-w-[60%];
}

.slideTitle {
  @apply text-xl drop-shadow-xl font-black mb-2
        sm:text-2xl 
        md:text-3xl 
        lg:text-5xl lg:mb-4;
}

.slideDescription {
  @apply leading-tight drop-shadow-2xl text-xs font-bold h-14
        md:h-20 mb-4 md:text-base
        *:lg:leading-relaxed;
  overflow: overlay;
}

/* ------------- Explore section elements stylesheet -------------*/

.discoveryPanel {
  @apply flex justify-center items-center flex-col w-full h-1/2 
        sm:flex-row sm:w-full sm:h-2/6 
        lg:flex-col lg:h-full lg:w-4/12 gap-3;
}

.discovery {
  @apply relative w-full h-1/2 bg-slate-300 overflow-hidden rounded-xl
        sm:h-full sm:w-1/2 
        lg:h-1/2 lg:w-full;
}

.discoveryContent{
  --max-w-custom : 70%;
  @apply absolute top-1/2 -translate-y-1/2 p-8 lg:mt-4 max-w-custom;
}

.discoveryTitle {
  @apply text-xl drop-shadow-xl font-black mb-2 
        lg:text-4xl;
}

.discoveryDescription {
  @apply leading-tight drop-shadow-2xl h-8 mb-2 overflow-y-scroll text-xs font-bold 
  md:h-14 lg:text-lg lg:leading-relaxed;
  overflow: overlay;
}

/* Panels image & button Styles*/

.image {
  @apply object-cover object-right w-full h-full opacity-90;
}

.redirectBtn {
  @apply p-2 text-xs font-extrabold border-2
    border-black rounded-md bg-black text-white
    brightness-75 hover:brightness-100 lg:text-base;
}


/* ------------- Description scroll stylesheet -------------*/

.container p::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  background-color: #7373731f;
}

/* thumb */
.container p::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cbc5c5d4;
}
/* Track */
.container p::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #afafaf6b;
}
