.container {
  --box-shadow-custom: -1px 20px 20px -16px rgba(0, 0, 0, 0.24);
  --height-custom: calc(100vh - 5rem);

  @apply flex justify-center items-center flex-col w-full p-2 rounded-bl-lg 
        rounded-br-lg h-custom shadow-custom gap-3 mb-12
        lg:flex-row lg:p-4;
}



/* ------------- Description scroll stylesheet -------------*/

.container p::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  background-color: #7373731f;
}

/* thumb */
.container p::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cbc5c5d4;
}
/* Track */
.container p::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #afafaf6b;
}
