.card {
  @apply relative rounded-xl overflow-hidden shadow-2xl brightness-75 hover:brightness-100 
    min-w-44 min-h-80 h-80;
}

.image {
  @apply object-cover w-full max-w-full h-2/4 rounded-xl;
}

.content {
  @apply p-4 pb-4;
}

.name {
  @apply font-bold mb-2 text-xs text-purple-700
    sm:text-xl 
    md:text-2xl
    lg:text-lg;
}

.description {
  @apply text-xs mb-2 max-h-12 overflow-hidden 
    md:max-h-20 md:text-xl 
    lg:text-base;
}

.price {
  @apply font-bold text-xs md:text-xl lg:text-sm;
}

.heartIcon {
  @apply absolute top-2 right-2 text-xl md:text-2xl text-slate-100 bg-slate-300 rounded-full p-2 bg-opacity-75;
}

.shoppingCartIcon {
  @apply absolute text-xs bg-slate-500 bg-opacity-25 bottom-0 right-0 w-8 h-4 p-2;
}
