.container {
  @apply relative md:bg-slate-400/20
   md:hover:bg-slate-400/60 md:shadow-inner md:rounded-[3rem] md:p-2;
}
.categoriesMenu {
  @apply absolute  w-[calc(100%+1rem)] top-0 left-full hidden border p-2 rounded-md  bg-slate-300/95
  md:top-[93%] md:left-8 md:w-56;
}

.pCategory {
  @apply text-sm font-bold ml-3 border-b border-red-950;
}
.category {
  @apply flex w-fit items-center hover:underline font-bold ml-3 border-b last:border-none text-sm p-1
      sm:mx-2 
      lg:mx-4 lg:p-1;
}

.btn {
  @apply flex items-center gap-1;
}
