.logoFont {
  font-family: cursive;
}
.navbar {
  @apply flex sticky z-10 bg-white top-0 justify-between items-center px-4 py-1 h-14 border-b;
}

/* Navbar Styles */
.navContainer {
  @apply text-left basis-full text-2xl order-1 md:hidden md:basis-auto;
}
.navigation {
  @apply absolute rounded-md top-[90%] left-4 w-5/12 bg-slate-300
 md:flex md:justify-evenly order-2 md:static md:bg-transparent;
}
.linkWrapper {
  @apply relative p-3 border-b last:border-none md:p-0 md:border-none;
}

/* Drop Menu Styles  */
.dropDownMenu {
  @apply absolute top-0 left-full min-w-fit hidden
  md:top-[95%] md:left-8 md:w-56;
}

.moreLinkWrapper {
  @apply relative p-2 border-b last:border-none;
}

/*Client Options Section Styles */
.clientOptions__icon {
  @apply text-lg mr-2 lg:mr-4 cursor-pointer;
}

.link {
  @apply flex items-center hover:underline font-bold
  sm:mx-2 
  md:justify-start 
  lg:mx-4;
}
.moreOptionsMenu {
  @apply absolute top-0 left-full w-[calc(100%+1rem)] hidden text-gray-700 rounded-md  bg-slate-300/95 
  md:top-[95%] md:left-8 md:w-56;
}
